<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Święta 2020</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../photos/takiczub.gif">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Domek z piernika</a></li>
        <li><a href="gallery.html">Galeria</a></li>
    </ul>
      <div class="c">
          <div class="kontener">
            <div class="div item1"><img  class="img" src="../photos/1.webp"></div>
            <div class="div item2"><img  class="img" src="../photos/2.jpg"></div>
            <div class="div item3"><img  class="img" src="../photos/3.webp"></div>
            <div class="div item4"><img  class="img" src="../photos/4.jpg"></div>
            <div class="div item5"><img  class="img" src="../photos/5.jpeg"></div>
            <div class="div item6"><img  class="img" src="../photos/6.jpg"></div>
            <div class="div item7"><img  class="img" src="../photos/7.jpg"></div>
            <div class="div item8"><img  class="img" src="../photos/8.jpg"></div>
            <div class="div item9"><img  class="img" src="../photos/9.jpg"></div>
            <div class="div item10"><img class="img"  src="../photos/10.jpg"></div>
            <div class="div item11"><img class="img"  src="../photos/11.webp"></div>
            <div class="div item12"><img class="img"  src="../photos/12.webp"></div>
            <div class="div item13"><img class="img"  src="../photos/13.png"></div>
            <div class="div item14"><img class="img"  src="../photos/14.webp"></div>
            <div class="div item15"><img class="img"  src="../photos/15.jpg"></div>
            <div class="div item16"><img class="img"  src="../photos/16.jpg"></div>
            <div class="div item17"><img class="img"  src="../photos/17.jpg"></div>
            <div class="div item18"><img class="img"  src="../photos/18.jpg"></div>
            <div class="div item19"><img class="img"  src="../photos/19.jpg"></div>
            <div class="div item20"><img class="img"  src="../photos/20.png"></div>
            <div class="div item21"><img class="img"  src="../photos/21.jpg"></div>
            <div class="div item22"><img class="img"  src="../photos/22.jpg"></div>
            <div class="div item23"><img class="img"  src="../photos/23.jpg"></div>
            <div class="div item24"><img class="img"  src="../photos/24.jpg"></div>
            <div class="div item25"><img class="img"  src="../photos/25.jpg"></div>
            <div class="div item26"><img class="img"  src="../photos/26.jpg"></div>
            <div class="div item27"><img class="img"  src="../photos/27.jpg"></div>
            <div class="div item28"><img class="img"  src="../photos/28.png"></div>



















          </div>
    </div>
</body>
</html>