<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Święta 2020</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../photos/takiczub.gif">
</head>
<body>
    <ul class="nav">
        <li><a href="index.html">Domek z piernika</a></li>
        <li><a href="gallery.html">Galeria</a></li>
    </ul>
      <div class="c">
      <div class="a">
          <div>
            <img src="../photos/swieta.jpg">
          </div>
          <div>
              <h4 class="b">Boże Narodzenie</h4>
            <p>Święta Bożego Narodzenia, Narodzenie Pańskie – w tradycji chrześcijańskiej – święto upamiętniające narodziny Jezusa Chrystusa. Jest to stała uroczystość liturgiczna przypadająca na 25 grudnia. Boże Narodzenie poprzedzone jest okresem trzytygodniowego oczekiwania (dokładnie czterech niedziel), zwanego adwentem. W Kościele katolickim jest to święto nakazane.

                W Kościołach, które nadal celebrują liturgię według kalendarza juliańskiego (tzw. Kościoły wschodnie, głównie Cerkiew greckokatolicka i Kościół prawosławny), Boże Narodzenie przypada na 25 grudnia kalendarza juliańskiego, tzn. obecnie 7 stycznia kalendarza gregoriańskiego.</p>
          </div>
        </div>
        <div class="a">
            <div>
                <img src="../photos/swieta cos.jpg">
            </div>
            <div>
                <h4 class="b">Wigilia</h4>
                <p>
                    Wigilia w tradycji chrześcijańskiej rozpoczęcie obchodów świątecznych wieczorem dnia poprzedzającego. Taki sposób świętowania osadzony jest ściśle w żydowskiej rachubie czasu, w której początkiem doby jest zmierzch.
                    <br>
W Kościele katolickim wigilia jest częścią każdej uroczystości (w tym niedzieli). Na jej obchód składają się I nieszpory oraz msza wigilijna. Najważniejszą wigilią jest Wigilia Paschalna, którą św. Augustyn z Hippony określił jako matkę wszystkich świętych wigilii
                </p>
            </div>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
</body>
</html>